<div class="my-form">
  <div class="form-sex form">
    <p sex-title>性别</p>
    <button class="my-btn btn-any my-btn-active">不限</button><button class="my-btn btn-man">男</button><button class="my-btn btn-woman">女</button>
  </div>
  <div class="form-year form">
    <p class="year-title">职业年限</p>
    <button class="my-btn btn-any my-btn-active">不限</button><button class="my-btn">5年以下</button><button class="my-btn">5-10年</button><button class="my-btn">11-20年</button><button class="my-btn">20年以上</button>
  </div>
  <div class="form-style form">
    <p class="style-title">职业类型</p>
    <button class="my-btn btn-any my-btn-active">不限</button><button class="my-btn btn-full">专职律师</button><button class="my-btn btn-part">兼职律师</button><button class="my-btn btn-XG">香港居民律师</button><button class="my-btn btn-AM">澳门居民律师</button><button class="my-btn btn-TW">台湾居民律师</button>
  </div>
  <div class="from-rem form">
    <button class="my-btn btn-no my-btn-active">无惩戒记录</button><button class="my-btn btn-has">有表彰记录</button>
  </div>
  <div class="form-set form">
    <button class="my-btn btn-reset">重置</button>
    
    <div class="buttons-row" style="display: contents;">
      <a href="#" class="tab-link button" style="display: contents;" data-tab=".tab-home">
        <button class="my-btn btn-submit">确定</button>
      </a>
    </div>
  </div>
</div>