<div class="address">
  <div class="address-top">
    <span class="top-item">省</span><span class="top-item">市</span><span class="top-item">县</span>
  </div>
  <div class="content">
    <div class="content-left">
      <span class="left-item content-item">北京</span>
      <span class="left-item content-item content-active">江苏</span>
      <span class="left-item content-item">天津</span>
      <span class="left-item content-item">浙江</span>
      <span class="left-item content-item">上海</span>
    </div>
    <div class="content-right">
      <span class="right-item content-item">泗洪县</span>
      <span class="right-item content-item content-active">沭阳县</span>
      <span class="right-item content-item">泗阳县</span>
    </div>
    <div class="content-center">
      <span class="center-item content-item">扬州市</span>
      <span class="center-item content-item content-active">宿迁市</span>
      <span class="center-item content-item">盐城市</span>
    </div>
  </div>
  <div class="buttons-row" style="display: contents;">
    <a href="#" class="tab-link button" style="display: contents;" data-tab=".tab-home">
      <button class="bottom-btn">确定</button>
    </a>
  </div>
</div>