.ff7-uploadimg-item {
  position: relative;
  float: left;
  width: calc((100% - .3rem)/4);
  padding: .1rem;
  margin-right: .2rem;
  margin-top: .2rem;
  border: 1px solid #eee;

  .ff7-uploadimg-pic {
    position: relative;
    padding-bottom: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .ff7-uploadimg-close {
    position: absolute;
    top: -.18rem;
    right: -.18rem;
    width: .36rem;
    height: .36rem;
    background-color: crimson;
    border-radius: 50%;
    z-index: 2;

    &::after,
    &::before {
      position: absolute;
      content: '';
      background-color: #fff;
      transform: rotate(45deg);
    }

    &::after {
      top: .06rem;
      left: .16rem;
      width: .04rem;
      height: .24rem;
    }

    &::before {
      left: .06rem;
      top: .16rem;
      width: .24rem;
      height: .04rem;
    }
  }
}

.ff7-uploadimglist {
  margin-top: -.1rem;

  ul {
    height: auto !important;
  }
}

.ff7-uploadimglist+.ff7-uploadimg-item {
  margin-right: 0;
}

.ff7-uploadimg-ctrl {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  cursor: pointer;
}

img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}


.popup-uploadimg {
  .uploadimg-pic {
    height: calc(100% - 1rem);
  }

  .uploadimg-ctrl .button {
    height: 1rem;
    color: #ffffff;
    background-color: #000;
    line-height: 1rem;
    border: none !important;
    border-radius: 0 !important;
  }
}
