$body-width:                1200px;
$body-bg:                   #f5f5f5;

// 主色调
$brand:                  #1890ff;
// 辅助色
$blue:                   #348ac7;
$yellow:                 #fdc00f;
$red:                    #ec4040;
$green:                  #009900;
$cyan:                   #1ab99b;
$teal:                   #0fa3b1;
$pink:                   #f45b69;
 //Colors
$gray-base:              #585858;
$gray-dark:              #333333;
$gray-light:             #808080;
$gray-lighter:           #eeeeee;

$text-color:             #585858;

$light:                  #f4f4f4;
$white:                  #fff;
$black:                  #000;
$border-color:           #eee;

// 状态色
$primary:                $blue;
$success:                $green;
$warning:                $yellow;
$danger:                 $red;
$disabled:               #ccc;

$primary-invert:         lighten($blue, 40%);
$success-invert:         lighten($green, 60%);
$warning-invert:         lighten($yellow, 42%);
$danger-invert:          lighten($red, 36%);

//Typography
$font-family-sans-serif:  "Tahoma","Helvetica Neue","Lantinghei SC",Arial,"Microsoft Yahei","Hiragino Sans GB",STXihei,Helvetica,sans-serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-num:         Impact;
$font-family-more:        "Hiragino Sans GB","SimSun";
$font-family-base:        $font-family-sans-serif;

$font-size-base:          .14rem;
$font-size-lg:            ceil(($font-size-base * 1.1));// ~16px
$font-size-sm:            ceil(($font-size-base * 0.85));// ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$font-weight-small:       100;
$font-weight-bold:        700;

$line-height-base:        1.5; // 20/14
$line-height-lg:          (4 / 3) !default;
$line-height-sm:          1.5 !default;
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//Components
$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-lg-vertical:       10px;
$padding-lg-horizontal:     15px;

$padding-sm-vertical:       5px;
$padding-sm-horizontal:     10px;


$module-margin:             10px;
$module-padding:            10px;


// 圆角
$border-width:              1px !default;
$border-radius:             3px;
$border-radius-lg:          5px;
$border-radius-sm:          2px;

// 圆角是否可设置
$enable-rounded: true !default;
