// Core variables and mixins
@import "variables";
@import "mixins";
@import "iconfont";

//f7
@import "framework7/dist/css/framework7.ios.css";
@import "framework7/dist/css/framework7.ios.colors.css";

/*$designdraft为设计稿宽度，可以随时按照设计师发来的设计稿改动*/
@mixin user($designdraft) {
  /*以下为各个主流移动设备宽度必须从大到小排列；
  ipad pro:1024px;
  ipad:768px;
  iphone6+:414px;
  iphone6:375px;
  iphone5:320px
  */
  $list: 1024px, 800px, 768px, 720px, 414px, 412px, 384px, 375px, 360px, 320px;

  @each $i in $list {

    /*12栅格系统*/
    @media screen and (max-width:#{$i}) {
      html {
        /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
        font-size: 100px*($i/$designdraft);
      }
    }
  }
}

//这里输入设计稿宽度
@include user(750px);

.page {
  background: #f6fafe;
}

.navbar {
  color: $white;
  background: linear-gradient(to right, #50baf4, #5380d3);
}

@import "normalize.css/normalize.css";

.clearfix {
  @include clearfix();
}

.center-block {
  @include center-block();
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.mt {
  margin-top: $module-margin !important;
}

.mb {
  margin-bottom: $module-margin !important;
}

.ml {
  margin-left: $module-margin !important;
}

.mr {
  margin-right: $module-margin !important;
}

* {
  @include box-sizing(border-box);
}

*:before,
*:after {
  @include box-sizing(border-box);
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  line-height: $line-height-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;

  &.gray-bg {
    background-color: #f9f9f9;
  }
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  // line-height: inherit;
}
ul,body,p,h1,h2,h3,h4,h5,button{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a {
  color: $gray-base;
  text-decoration: none;
  padding: 0;
  margin: 0;
  &:hover,
  &:focus {
    color: lighten($brand, 5%);
    outline: none;
  }
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

h1,
.h1 {
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}

pre code {
  font-family: Consolas, Monaco, monospace;
}

.page-wrapper {
  transition: transform .5s ease;
}

.wrapper {
  position: relative;
  @include center-block();
  width: 1200px;
}

.li-spacing {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  height: 12px;
  width: 1px;
  background-color: lighten($gray-light, 25%);
}

.li-bull {
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #ccc;
}

// noData
.nodata {
  margin: $module-margin auto;
  width: 140px;
  text-align: center;

  img {
    width: 140px;
    height: auto;
  }

  p {
    margin: 0;
    padding-top: 5px;
    font-size: $font-size-lg;
    color: $gray-light;
  }
}
// 底部tab栏样式
#bottom-bar{
  .link{
    font-size: .22rem;
    color: #555;
    .iconfont{
      font-size: .4rem;
      color: #dbdbdb;
    }
    &.active{
      color: #5380d3;
      .iconfont{
        color: #5380d3;
      }
    }

  }
}


// 首页
.home{
  width: 100%;
  height: 100%;
  padding: 1.9rem .3rem 0;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  .home-title-pic{
    width: 4.7rem;
    height: 1.9rem;
    margin: 0 auto;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  .home-search{
    padding-top: 1.35rem;
  }
  .utiles{
    padding-top: .6rem;
  }
  .utile-item{
    width: 33.33%;
    color: #fff;
    text-align: center;
    .utile-pic{
      width: 100%;
      height: .8rem;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

// 搜索框
.lawer-search{
  position: relative;
  width: 6.87rem;
  height: .92rem;
}
.searchbar{
  position: absolute;
  z-index: 101;
  bottom: 0;
  width: 6.87rem;
  height: .92rem;
  padding-left: .4rem;
  background-color: #fff;
  border-radius: .06rem;
  box-shadow: -.02rem .07rem .07rem rgba(102, 102, 102, 0.192);
  .iconreturn-copy-copy{
    font-size: .25rem;
    margin: auto .1rem;
  }
}
.search-select{
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: -1.55rem;
  border-radius: .06rem;
  overflow: hidden;
  box-shadow: 0rem .07rem .07rem rgba(102, 102, 102, 0.205);
  background-color: #fff;
  .sele-item{
    height: .78rem;
    padding-left: .4rem;
    line-height: .78rem;
    font-size: .28rem;
    color: #333;
    background-color: #fff;
  }
  .sele-item-active{
    background-color: #e8f1fd;
  }
}
.search-select-hide{
  display: none;
}
.search-title{
  display: block;
  height: .5rem;
  line-height: .5rem;
  border-right: .02rem solid #eee;
  font-size: .28rem;
  color: #333;
  white-space: nowrap;
  &.hover{
    .search-select{
      display: block;
    }
  }
}
.search-btn{
  font-size: .34rem;
  color: #2071ee;
  white-space: nowrap;
  font-weight: bold;
}

// 搜索页面
.search-box{
  height: 1.3rem;
  width: 100%;
  padding: .3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .searchbar,.lawer-search{
    height: .71rem;
  }
}
.search{
  .buttons-row{
    border-bottom: .02rem solid #ccc;
    .tab-link{
      height: 1rem;
      line-height: 1rem;
      font-size: .28rem;
      color: #333;
      background-color: #fff;
      &.active{
        color: #2071ee;
      }
    }
    .icondrop_down{
      font-size: .2rem;
    }
  }
}

// #swith-tab{
//   #switch{
//     .content-block{
//       padding: 0;
//       margin: 0;
//     }
//   }
// }
// .tabs-animated-wrap{
//   height: auto;
// }
// 搜索按钮组件样式
.my-form{
  padding: .3rem;
  .form{
    padding-bottom: .5rem;
    p{
      padding-bottom: .08rem;
    }
  }
  .my-btn{
    height: .7rem;
    padding: .2rem .3rem;
    font-size: .26rem;
    color: #333;
    background-color: #fff;
    border: .02rem solid #ddd;
    vertical-align: middle;
    border-radius: .03rem;
    margin: .1rem .12rem .1rem 0;
    outline: none;
  }
  .btn-TW{
    margin-right: 0;
  }
  .my-btn-active{
    background-color: #3778ff;
    color: #fff;
  }
  .form-set{
    margin: 0 -.3rem;
    .btn-reset{
      box-sizing: border-box;
      width: 50%;
      margin-right: 0;
      border-right: none;
    }
    .btn-submit{
      box-sizing: border-box;
      float: right;
      width: 50%;
      margin-right: 0;
      background-color: #3778ff;
      color: #fff;
      border-right: none;
    }
  }
}
// 地址搜索组件样式
.address{
  position: relative;
  width: 100%;
  .address-top{
    border-top: .02rem solid #f2f4f7;
    border-bottom: .02rem solid #f2f4f7;

    .top-item{
      display: inline-block;
      box-sizing: border-box;
      width: 33.3%;
      height: .9rem;
      text-align: center;
      color: #333;
      font-size: .28rem;
      line-height: .9rem;
    }
    .top-item:nth-child(2){
      border-right: .02rem solid #f2f4f7;
      border-left: .02rem solid #f2f4f7;
    }
  }
  .content-left{
    float: left;
    width: 33.3%;
  }
  .content-right{
    float: right; 
    width: 33.3%; 
    .right-item{
      border-right: none;
      border-left: .02rem solid #f2f4f7;
    }
  }
  .content-center{
    width: auto;

  }
  .content-item{
    display: block;
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    font-size: .26rem;
    color: #666;
    text-align: center;
    border-bottom: .02rem solid #f2f4f7;
    border-right: .02rem solid #f2f4f7;
    background-color: #fff;
  }
  .content-active{
    background-color: #3778ff;
    color: #fff;
  }

  .bottom-btn{
    position: absolute;
    left: 0;
    bottom: -6.1rem;
    width: 100%;
    height: .8rem;
    color: #fff;
    font-size: .3rem;
    background-color: #3778ff;
    border: none;
    outline: none;
  }
}
// 排序搜索组件样式
.sort{
  position: relative;
  width: 100%;
  height: 100%;
  .sort-list{
    .sort-item{
      height: .66rem;
      padding:0 .3rem;
      line-height: .66rem;
      font-size: .26rem;
      color: #666;
      border-bottom: .02rem solid #f2f4f7;
    }
    .item-text-left{
      float: left;
    }
    .item-text-right{
      display: none;
      float: right;
      color: #2056c5;
      .iconfont{
        padding-right:.4rem;
        font-size: .3rem;
      }
      .iconfont-active{
        color: #fff;
      }
    }
    .active{
      background-color: #3778ff;
      color: #fff;
    }
  }
  .sort-submit{
    position: absolute;
    top: 8.3rem;
    left: 0;
    width: 100%;
    height: .8rem;
    font-size: .3rem;
    color: #fff;
    border: none;
    outline: none;
    background-color: #3778ff;
  }
}
// search卡片组件样式
.search-card{
  height: auto;
  padding-bottom: .6rem;
  background-color: #f2f4f7;
  .card-item{
    width: 100%;
    height: 3rem;
    padding: .4rem .4rem .3rem;
    margin-bottom: .1rem;
    background-color: #fff;
    .left{
      width: 1.73rem;
      height: 2.4rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .right{
      padding-left: .4rem;
    }
  }
  .mid-text{
    width: 4.5rem;
    font-size: .28rem;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .top-name{
    font-size: .34rem;
    color: #333;
  }
  .top-sex{
    font-size: .28rem;
    color: #333;
  }
  .top-status{
    display: inline-block;
    width: 1.14rem;
    height: .36rem;
    text-align: center;
    font-size: .18rem;
    line-height: .36rem;
    border-radius: .12rem;
    color: #fff;
    background-color: #34dac5;
  }
  .right-mid{
    position: relative;
    padding-top: .6rem;
    &::after{
      position: absolute;
      top: .3rem;
      right: -.2rem;
      font-size: .4rem;
      font-family: "iconfont";
      color: #ddd;
      content: "\e676";
    }
  }
  .card-bottom-text{
    font-size: .24rem;
    color: #bbb;
    text-align: center;
  }
}

// search-detail  律师详情页样式
.search-detail{
  .detail-top{
    width: 100%;
    height: 3.2rem;
    padding: .4rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .top-left{
    width: 1.73rem;
    height: 2.4rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-right{
    padding-left: .48rem;
    color: #fff;
    .right-title{
      padding-bottom: 1.1rem;
    }
    .title-name{
      font-size: .34rem;
      padding-right: .2rem;
    }
    .title-status{
      display: inline-block;
      width: 1.18rem;
      height: .35rem;
      font-size: .2rem;
      text-align: center;
      line-height: .35rem;
      background-color: #34dac5;
      border-radius: .13rem;
    }
    .right-id{
      font-size: .28rem;
    }
    .id-text{
      width: 4.2rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .detail-list{
    width: 100%;
    padding: .37rem .3rem;
    background-color: #f2f4f7;
  }
  .detail-item{
    background-color: #fff;
    width: 100%;
    margin-bottom: .2rem;
    .item-top{
      padding:.3rem .27rem;
      border-bottom: .02rem solid #f2f4f7;
    }
    .top-title{
      position: relative;
      font-size: .3rem;
      font-weight: bold;
      color: #333;
      &::before{
        position: absolute;
        top: .05rem;
        left: -.3rem;
        width: .08rem;
        height: .34rem;
        content: "";
        background-color: #3582ff;
      }
    }
    .item-content{
      padding: .3rem;
      font-size: .28rem;
      line-height: .52rem;
      color: #333;
      border-bottom: .02rem solid #f2f4f7;
      .iconreturn-copy-copy{
        display: block;
        width: .3rem;
        margin: 0 auto;
        color: #999;
      }
    }
    .reward{
      position: relative;
      padding-left: .82rem;
      .num{
        position: absolute;
        top: .4rem;
        left: .3rem;
        width: .38rem;
        height: .38rem;
        font-size: .28rem;
        color: #fff;
        text-align: center;
        line-height: .38rem;
        background-color: #3582ff;
      }
      .bg-red{
        background-color: #eb6877;
      }
    }
    .content-list{
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .content-title{
    position: relative;
    float: left;
    // display: inline-block;
    min-width: 1.37rem;
    padding-right: .3rem;
    text-align-last: justify;
    &::after{
      position: absolute;
      top: 0rem;
      right: 0rem;
      content: "：";
    }
  }
  .text-into{
    display: inline-block;
    width: 1.15rem;
    height: .35rem;
    font-size: .2rem;
    text-align: center;
    line-height: .35rem;
    background-color: #3582ff;
    color: #fff;
    border-radius: .13rem;
  }
  .text-special{
    color: #3582ff;
    .text-br{
      padding: 0 .45rem 0 1.2rem;
    }
  }
}
