// Core variables and mixins
@import "variables";
@import "mixins";

@import "normalize.css/normalize.css";


html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  line-height: $line-height-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
}

img {
  vertical-align: middle;
}

a {
  color: $brand;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $brand;
    outline: none;
  }
}

* {
  box-sizing: border-box;
}

.clearfix {
  @include clearfix();
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

::selection {
  background: $brand;
  color: $white;
}

::-moz-selection {
  background: $brand;
  color: $white;
}

// Layout
.wrapper {
  @include center-block();
  width: 1200px;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -600px;
  width: 1200px;
  height: 500px;

  .error-cartoon {
    height: 100%;
    width: 500px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .error-cartoon.pull-left {
    width: 750px;
  }

  .error-desc {
    color: #2F2F4F;
  }

  .error-desc.pull-right {
    width: 420px;
  }

  .error-code {
    font-size: 120px;
    font-weight: 600;
    color: #697386;
  }

  h1 {
    padding-bottom: $module-padding;
    margin: 0;
    font-size: 24px;
  }

  p {
    margin: 0;
    padding-top: 20px;
    font-size: 16px;
    color: #697386;
    line-height: 2;
  }

  .error-tips {
    padding: 0;
  }

  a {
    display: block;
    font-size: 16px;
    margin: 20px 0;

    &:hover {
      color: lighten($brand, 8%);
    }
  }

  &.fzfres {
    width: 100%;
    margin-left: -50%;

    .wave1,
    .wave2,
    .wave3 {
      position: absolute;
      left: 0;
      bottom: 10%;
      right: -100%;
      height: 70%;
      background-repeat: repeat no-repeat;
      background-size: 50% auto;
      background-position: left bottom;
      transform-origin: center bottom;
      transform: translateX(0) translateZ(0) scaleY(1);

    }

    .wave1 {
      animation: move-wave 5s linear infinite;
      animation-delay: -1s;
      opacity: 0.8;
    }

    .wave2 {
      animation: move-wave 10s linear infinite;
      animation-delay: -3s;
      opacity: 0.9;
    }

    .wave3 {
      animation: move-wave 15s linear infinite;
      animation-delay: -5s;
      opacity: 0.9;
    }

    @keyframes move-wave {
      0% {
        transform: translateX(0) translateZ(0) scaleY(1);
      }

      50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
      }

      100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
      }
    }

    @keyframes move-text {
      0% {
        transform: translateY(10%) translateZ(0);
      }

      50% {
        transform: translateY(0%) translateZ(0);
      }

      100% {
        transform: translateY(10%) translateZ(0);
      }
    }

    .error-text {
      width: auto;
      height: 80%;
      animation: move-text 5s linear infinite;
    }

    .error-desc {
      text-align: center;
    }

    .error-cartoon {
      position: absolute;
      bottom: -120px;
      width: 100%;
      height: 256px;
      text-align: center;
      overflow: hidden;
    }

    h1 {
      font-size: 48px;
    }

    p {
      font-size: 24px;
    }
  }

  .error-p {
    display: block;
  }

  .error-m {
    display: none;
  }

  .back-index {
    width: 100px;
    padding: 8px 0;
    text-align: center;
    color: #697386;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
  }

  &.errorcopy {
    height: 264px;
    margin-top: -132px;

    h1 {
      padding: 16px 0 8px;
    }

    p {
      padding: 0;
    }

    .back-index {
      color: #fff;
      border-color: $brand;
      background-color: $brand;
    }

    .error-desc {
      padding-top: 30px;
    }
  }

  @media screen and(max-width: 800px) {

    .error-cartoon.pull-left,
    .error-desc.pull-right {
      width: 100%;
      text-align: center;
    }

    .error-p {
      display: none;
    }

    .error-m {
      display: block;
    }

    & {
      left: 0;
      width: 100%;
      height: 354px;
      margin-left: 0;
      margin-top: -177px;
    }

    .error-cartoon.pull-left {
      height: 200px;
      margin-bottom: 20px;
    }

    h1,
    &.fzfres h1 {
      font-size: 20px;
    }

    p,
    &.fzfres p {
      font-size: 14px;
      padding: 0;
    }

    .error-tips {
      position: fixed;
      bottom: 64px;
      left: 0;
      width: 100%;
      text-align: center;
    }

    .error-desc {
      padding: 0 40px;
      box-sizing: border-box;
    }

    &.fzfres {
      margin-left: 0;

      .error-cartoon {
        position: relative;
        bottom: 0;
        height: 120px;
      }
    }

    &.errorcopy {
      height: 294px;
      margin-top: -142px;

      .error-cartoon.pull-left {
        height: 100px;
      }

      .back-index {
        width: 126px;
        margin: auto;
        color: $brand;
        border-color: $brand;
        background-color: transparent;
        border-radius: 0;
      }

      p {
        padding-bottom: 20px;
      }
    }
  }
}
