<ul class="search-card">
  <li class="card-item clearfix">
    <a href="/searchDetail.html" class="link">
      <div class="left pull-left" style="background-image: url(../../assets/images/girl1.png);"></div>
      <div class="right pull-left">
        <div class="right-top">
          <span class="top-name">王小利</span>
          <span class="top-sex">（女）</span>
          <span class="top-status">正常执业</span>
        </div>
        <div class="right-mid">
          <p class="mid-text">执业类别：专职律师</p>
          <p class="mid-text">执业证号：13101201810057</p>
          <p class="mid-text">执业机构：湖南秦希燕联合（上海同道哈哈哈哈哈哈)</p>
        </div>
      </div>
    </a>
  </li>
  <li class="card-item clearfix">
    <a href="/searchDetail.html" class="link">
      <div class="left pull-left" style="background-image: url(../../assets/images/girl1.png);"></div>
      <div class="right pull-left">
        <div class="right-top">
          <span class="top-name">王小利</span>
          <span class="top-sex">（女）</span>
          <span class="top-status">正常执业</span>
        </div>
        <div class="right-mid">
          <p class="mid-text">执业类别：专职律师</p>
          <p class="mid-text">执业证号：13101201810057</p>
          <p class="mid-text">执业机构：湖南秦希燕联合（上海同道哈哈哈哈哈哈)</p>
        </div>
      </div>
    </a>
  </li>
  <li class="card-item clearfix">
    <a href="/searchDetail.html" class="link">
      <div class="left pull-left" style="background-image: url(../../assets/images/girl1.png);"></div>
      <div class="right pull-left">
        <div class="right-top">
          <span class="top-name">王小利</span>
          <span class="top-sex">（女）</span>
          <span class="top-status">正常执业</span>
        </div>
        <div class="right-mid">
          <p class="mid-text">执业类别：专职律师</p>
          <p class="mid-text">执业证号：13101201810057</p>
          <p class="mid-text">执业机构：湖南秦希燕联合（上海同道哈哈哈哈哈哈)</p>
        </div>
      </div>
    </a>
  </li>
  <li class="card-item clearfix">
    <a href="/searchDetail.html" class="link">
      <div class="left pull-left" style="background-image: url(../../assets/images/girl1.png);"></div>
      <div class="right pull-left">
        <div class="right-top">
          <span class="top-name">王小利</span>
          <span class="top-sex">（女）</span>
          <span class="top-status">正常执业</span>
        </div>
        <div class="right-mid">
          <p class="mid-text">执业类别：专职律师</p>
          <p class="mid-text">执业证号：13101201810057</p>
          <p class="mid-text">执业机构：湖南秦希燕联合（上海同道哈哈哈哈哈哈)</p>
        </div>
      </div>
    </a>
  </li>
  <li class="card-item clearfix">
    <a href="/searchDetail.html" class="link">
      <div class="left pull-left" style="background-image: url(../../assets/images/girl1.png);"></div>
      <div class="right pull-left">
        <div class="right-top">
          <span class="top-name">王小利</span>
          <span class="top-sex">（女）</span>
          <span class="top-status">正常执业</span>
        </div>
        <div class="right-mid">
          <p class="mid-text">执业类别：专职律师</p>
          <p class="mid-text">执业证号：13101201810057</p>
          <p class="mid-text">执业机构：湖南秦希燕联合（上海同道哈哈哈哈哈哈)</p>
        </div>
      </div>
    </a>
  </li>
  <li class="card-bottom-text">加载更多</li>
</ul>